*
{
	font-family: 'Raleway', sans-serif;
}
/*Section#1 - HEADER ----------------------------------------------------------------------------------------------------*/
#homee
{
    background-image: url(../images/img2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	margin: 0px;
}
#head
{
	background-color: rgba(46, 46, 46, 0.5);
}
.navbar-brand
{
    color: #fff;
    font-size: 38px;
    font-weight: 500;
	font-family: 'Poppins', sans-serif;
}
.navbar-brand span img
{
	width: 30%;
}
.navbar-toggler
{
	color: #fff;
	cursor: pointer;
}
.navbar-nav  /*ul*/
{
    display: flex;
    align-content: flex-end;
}
.nav-item active /*li active*/
{
    color: #1F52B2;
}
.nav-item  /*li*/
{
    margin: 5px 20px;
}
.nav-link /*a*/
{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.nav-link:hover
{
     color: #1F52B2;
	font-weight: 600;
	font-size: 17px;
	text-shadow: none;
}
#he
{
	margin: auto;
}

#hello h3
{
	color: #fff;
    font-size: 35px;
    font-family: 'Pacifico', cursive;
	margin-bottom: 15px;
	padding-top: 100px;
}
#hello h2
{    
	color: #1F52B2;
    font-size: 55px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	line-height: 45px;
	margin-bottom: 15px;
}

#hello h6
{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	color: #fff;
	margin-bottom: 25px;
}
#hello button
{
    border-color: #1F52B2;
    padding-right: 75px;
    padding-left: 75px;
	cursor: pointer;
	background-color: #1F52B2;
}
#hello button:hover
{
    background-color:#1F52B2;
	border-color: #1F52B2;
}
#hello button a
{
    text-decoration: none;
    color: #fff;
	font-weight: 400;
	font-size: 16px;
	
}
#hello button a:hover
{
	color: #fff !important;
	border: none;
}
#hello i
{
	color: #fff;
	cursor: pointer;
	margin-top: 190px;
	margin-bottom: 20px;
}


/*Section#2 - ABOUT ----------------------------------------------------------------------------------------------------*/
.about
{
    background-color: whitesmoke;
    padding: 40px 0px;
	padding-bottom: 70px;
}
.about h3
{
    font-size: 32px;
	font-weight: 400;
}
.line
{
    border-top: 1px solid #2e2e2e;
    width: 120px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}
.whol
{
}
.whol h3
{
    font-size: 25px;
    color: #2e2e2e;
    margin-top: 10px;
}
.who span
{
    font-weight: 200;
    color: #2e2e2e;
    font-size: 25px;
    margin-top: 10px;
}

.whor span
{
	font-weight: bold;
    color: #2e2e2e;
    font-size: 17px;
    margin-top: 0px;
}
.whor p
{
    font-size: 16px;
	line-height: 28px;
	font-weight: 400;
    color: #2e2e2e;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 10px;
}
.who img
{
    width: 80%;
    border-radius: 20px 20px 20px;
	margin-bottom: 10px;
}

.infol
{    
    margin-top: 15px;
}
.infol h4
{
	font-weight: 800;
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 25px;
}


.infol i
{
    color: #2e2e2e;
    font-size: 16px;
}
.infol h6
{
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.infol h5
{
    color: #2e2e2e;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

}
.infol button
{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
    background-color: #2e2e2e;
	cursor: pointer;
}
.infol button i
{
    color: #fff;
    margin: 0px;
}
.infol button ul
{
    margin: 5px 5px 5px 30px;
}

/*-----------------------------------------------------------------------------------------------------------*/
.infor
{
    margin-top: 5px;
}
.infor h5
{
    font-size: 28px;
	font-weight: 400;
	margin-top: 70px;
	color: #2e2e2e;
}
.infor .line
{
    border-top: 1px solid #2e2e2e;
    width: 120px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.skill
{
    background-color: #2e2e2e;
    border-radius: 50%;
	overflow: hidden;
	padding: 20px 10px;
	margin-bottom: 15px;
	
}
.skill img
{
  width: 23%;  
}
.skill h3 
{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
	margin-top: 10px;
}
/*End OF Section#2 - ABOUT ---------------------------------------------------------------------------------------------*/


/*Section#3 - SERVICES ----------------------------------------------------------------------------------------------------*/
.services
{
    background-image: url(../images/img1.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
	background-position: center;
}
.serve
{
    background-color: rgba(46, 46, 46, 0.5);
    padding-top: 60px;
    padding-bottom: 60px;
}
.serve h3
{
    color: #fff;
    font-size: 40px;
	font-weight: 400;
}
.serve .line
{
    border-color: #fff;
    width: 90px;
    margin: 5px auto 60px;
}
.serve-info
{
    margin-bottom: 50px;
}
.serve-info h4
{
    color: #fff;
    font-size: 30px;
	font-weight: 600;
	margin-bottom: 10px;
}
.serve-info i
{
    color: #fff;
	margin-bottom: 15px;
}
.serve-info p
{
    color: #fff;
    font-size: 16px;
	width: 80%;
	margin: auto;
}
/*End OF Section#3 - SERVICES --------------------------------------------------------------------------------------*/


/*Section#4 - WORK PROCESS ----------------------------------------------------------------------------------------*/
.process
{
    background-color: #f2f2f2;
    padding: 90px 0px;
}
.process h3
{
    color: #288383;
	font-size: 32px;
	font-weight: 300;
}
.process .line
{
    border-color: #288383;
    width: 150px;
    margin: 5px auto 55px;
}

.process i
{
    padding: 10px 20px;
    margin-bottom: 10px;
}
.process-info1 i
{
    background-color: #D7C30F;
    color: #f2f2f2;
    border-radius: 1px;
}
.process-info1 h4
{
    color: #D7C30F;
}
.process-info2 i
{
    background-color: #288383;
    color: #f2f2f2;
    border-radius: 1px;
}
.process-info2 h4
{
    color: #288383;
}.process-info3 i
{
    background-color: #EA2269;
    color: #f2f2f2;
    border-radius: 1px;
}
.process-info3 h4
{
    color: #EA2269;
}.process-info4 i
{
    background-color: #3FD22F;
    color: #f2f2f2;
    border-radius: 1px;
}
.process-info4 h4
{
    color: #3FD22F;
}
/*End OF Section#4 - WORK PROCESS ---------------------------------------------------------------------------------------------*/


/*Section#5 - SKILLS ----------------------------------------------------------------------------------------------------*/
.skills
{
    background-color: #f2f2f2;
	padding: 30px 0px;
}
#siklls
{
    background-color: white;	
    padding: 80px 0px;
}
#siklls h3
{
	color: #777;
	font-size: 32px;
	font-weight: 300;
}
#siklls .line
{
    border-color: #777;
    width: 190px;
    margin: 10px auto 50px;
}
#siklls .s
{
	margin-bottom: 25px;
}
#siklls img
{
	background-color: #1F52B2;
	padding: 35px 40px;
	margin-bottom: 15px;
	border-radius: 5px;
}
#siklls h4
{
	color: #858585;
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
	color: #777;
}
/*END OF SKILLS --------------------------------------------------------------------------------------------------------*/

/*Section#6 - WORKS ----------------------------------------------------------------------------------------------------*/
.works
{
    background-color: #f2f2f2;
    padding: 60px 0px;
}
.works h3
{
	color: #2e2e2e;
	font-size: 32px;
	font-weight: 300;
}
.works .line
{
	border-color: #2e2e2e;
    margin: 15px auto 30px;
    width: 60px;
}
.work-info
{
	position: relative;
    margin-bottom: 4px;
}
.work-info img
{
}
#work-up
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 60%;
	background-color: rgba(31, 82, 178, 0.8);
	display: none;
}
#work-up i
{
	border-radius: 50%;
	border: 1px solid white;
	color: white;
	padding: 10px;
	cursor: pointer;
	margin-top: 80px;
}
#work-down
{
	background-color: rgba(46, 46, 46, 0.8);
	position: absolute;
	bottom: 0px;
	top: 40%;
	left: 0px;
	right: 0px;
	color: white;
	padding-top: 45px;
	display: none;
}
#work-down h4
{
	color: white;
	font-weight: 600;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;

}
#work-down h6
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 100;
}
#work-down .line
{
	border-color: white;
	width: 50px;
}
#work-down p
{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 200;
}

.nav
{
    justify-content: center;
    margin-bottom: 15px;
    border-bottom: none;
}
.nav-tabs .nav-item
{
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    color: #f2f2f2;
    background-color: #2e2e2e;
    border-color: #ddd #ddd #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover
{
    color: #f2f2f2;
    background-color: #2e2e2e;
    border-color: #ddd #ddd #fff;    
}
.nav-tabs .nav-link 
{
    border: 0.5px solid rgba(46, 46, 46, 0.39);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-tabs .nav-link:hover
{
    background-color: #f2f2f2;
    border: 0.5px solid rgba(46, 46, 46, 0.39);
}
.works a
{
    color: #2e2e2e;
    text-decoration: none;
}
/*End OF Section#6 - WORKS ---------------------------------------------------------------------------------------------*/


/*Section#7 - CONTACT ----------------------------------------------------------------------------------------------------*/
#contacts
{
    background-color: #2e2e2e;
    padding-top: 60px;
    padding-bottom: 30px;
    border-radius: 5px;
}
#contacts h3
{
    color: #f2f2f2;
	font-size: 32px;
	font-weight: 300;
}
#contacts .line
{
    border-color: #f2f2f2;
    margin: 10px auto 40px;
    width: 90px;
}
.con-icon
{
    color: #f2f2f2;
    position: relative;
    border-radius: 1px;
    border: 1px #f2f2f2 solid;
    padding: 15px 0px;
	font-family: 'Poppins', sans-serif;
}
.con-info
{
    background-color: #2e2e2e;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: #f2f2f2;
    opacity: 0;
    padding: 7px 0px;
	font-family: 'Poppins', sans-serif;
}
.con-info h6
{
    font-size: 14px;
    font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.con-icon:hover .con-info
{
    opacity: 1;
}

#contacts form
{
    margin-top: 20px;
	margin-bottom: 30px;
}
#contacts input , #contacts textarea
{
    background-color: #2e2e2e;
    color: #f2f2f2;
    border: 0.5px darkgray solid;
    border-radius: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#contacts textarea
{
    padding-bottom: 30px;
    margin-bottom: 0px;
}
#contacts button
{
    background-color: #f2f2f2;
    color: #2e2e2e;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    margin-top: 3px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
}
#contacts button:hover
{
    background-color: rgb(220, 220, 220);
    color: #2e2e2e;
    border: 0.5px #2e2e2e solid;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.socialmedia
{
    margin: auto;
    margin-top: 15px;
}
.media
{
    margin: auto;
}
.fa-inverse  /*icon*/ 
{
    color: #f2f2f2;
    background-color: #2e2e2e;
    border-radius: 50%;
    border-color: aqua;
}
.face:hover
{
    background-color: #4267b2;
    color: white;
}
.linked:hover
{
    background-color: #0077B5;
    color: white;
}
.insta:hover
{
    background-color: #cd486b;
    color: white;
}
.pint:hover
{
    background-color: #bd081c;
    color: white;
}
.behanc:hover
{
    background-color: #0057ff;
    color: white;
}
.trello:hover
{
    background-color: #026AA7;
    color: white;
}
/*End OF Section#6 - CONTACT ---------------------------------------------------------------------------------------------*/

/*START SCREEN*/
.spinner {
  margin: 100px auto;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
	margin: 1px;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*----------------------------------------------------------------------------------------------------------------*/

/*BACK TO TOP btn------------------------------------------------------*/
#up
{
	background-color: #1F52B2;
	position: fixed;
	bottom: 50px;
	right: 50px;
	cursor: pointer;
	border-color: #1F52B2;
	display: none;
}
#up i
{
	color: white;
}
/*---------------------------------------------------------------------*/

/*OPTIONS COLOR------------------------------------------------------------*/
.options
{
    width: 180px;
    position: fixed;
    top: 100px;
    z-index: 1000; 
}

.colors
{
    background-color: #2e2e2e;
    padding: 0px 10px;
	display: none;
}
.colors h4
{
    color: white;
	font-size: 18px;
	font-weight: 400;
    margin-top: 10px;
}
.colors ul li
{
    margin: 2px;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
	border-radius: 50%;
}

#set
{
    color: white;
    background-color: #2e2e2e;
    padding: 10px;
    cursor: pointer;
	display: none;
}

/*-------------------------------------------------------------------------------------------------*/


/*MEdia Query for Special Cases*/
@media (max-width: 575px)
{
	.skill
	{
		width: 30%;
		margin-bottom: 10px;
		margin: auto;
		
	}
	.skill img
	{
		
	}
	#hello i
	{
		margin-top: 120px;
	}
	#hello h2
	{
		font-size: 50px;
	}
}
    


